@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
name,student,birthday,course {font-family: "Poppins", sans-serif; }

name{
    color:red;
    font-weight: bolder;
    font-size: 25px;
}

student:nth-child(2){
    border-color: black black black green;
}

student:nth-child(2) > name{
    color: green;
}

name,birthday,course{
    width:100%;
    display: inline;
    float: left;
}

student{
    width:600px;
    float: left;
    display: inline;
    padding: 30px;
    border-width: 5px 5px 5px 30px;
    margin: 10px;
    border-style: solid;
    border-color: black black black red;
    box-shadow: 0px 10px 20px  #99999999;

}